<ion-pane class="body">
  <div class="row responsive-sm responsive-md responsive-lg sub_header">
    <div class="col">
      <h5>Iniciar sessión</h5>
    </div>
  </div>
  <div class="row row-center responsive-sm responsive-md responsive-lg box_center">
    <div class="col col-center box_vertical_align">
      <input type="text" placeholder="USUARIO" class="login" ng-model="login.username">
      <input type="password" placeholder="CONTRASEÑA" class="login" ng-model="login.password">
      <button class="button button-block login_button" ng-click="SignIn()">
        INGRESA
      </button>
    </div>
  </div>
</ion-pane>